.dashboard {
  display: flex;
  padding: 1rem;
  .stats-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__card {
      margin: 0 0 1rem 0.1rem;
    }
  }
}

@media (max-width: 600px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
    .stats-cards {
      margin-top: 1rem;
    }
  }
}
